


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/HelveticaNeueLTProBd.otf') format('truetype');
  /* You can include multiple src declarations for different font formats */
}


:root, body{
  overflow-x: hidden;
  font-family: 'Helvetica';
}


.Carousel_Label{
  bottom: -12%;
  text-align: top;
}

.Carousel_Container:hover .Carousel_Label{
  bottom: 0;
}

.category:hover .overlay{
  opacity: 1;
}


.menu_list li{
  overflow:hidden;
  opacity: 1;
}

/* .bg-blue {
  background: rgb(0,82,255);
  background: -moz-linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
  background: linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0052ff",endColorstr="#020024",GradientType=1);
}

.header-h1 {
  background: rgb(0,255,46)!important;
  background: -moz-linear-gradient(90deg, rgba(0,255,46,1) 0%, rgba(21,121,9,1) 80%, rgba(1,36,0,1) 100%)!important;
  background: -webkit-linear-gradient(90deg, rgba(0,255,46,1) 0%, rgba(21,121,9,1) 80%, rgba(1,36,0,1) 100%)!important;
  background: linear-gradient(90deg, rgba(0,255,46,1) 0%, rgba(21,121,9,1) 80%, rgba(1,36,0,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff2e",endColorstr="#012400",GradientType=1);
  background-clip: text!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
  text-shadow: 0px 0px 0px rgba(0, 225, 46, 0.5);
}

.header-nav {
  margin-top: 0px!important;
  padding: 10px 0px 10px 0px; 
}

.btn-search circle, .btn-search path, .btn-hamburger-menu path {
  stroke: rgb(0,255,46)!important;
  stroke: -moz-linear-gradient(90deg, rgba(0,255,46,1) 0%, rgba(21,121,9,1) 35%, rgba(1,36,0,1) 100%)!important;
  stroke: -webkit-linear-gradient(90deg, rgba(0,255,46,1) 0%, rgba(21,121,9,1) 35%, rgba(1,36,0,1) 100%)!important;
  stroke: linear-gradient(90deg, rgba(0,255,46,1) 0%, rgba(21,121,9,1) 35%, rgba(1,36,0,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ff2e",endColorstr="#012400",GradientType=1)!important;
} */
